:root {
  --container-width: 50rem;

  --title-font-size: clamp(3rem, min(15vw, 15vh), 8rem);
  --root-padding: 1.5rem;

  --font-col: #7e80a2;
  --accent-col: #f7996e;
  --link-col: #76c2f1;
  --bg-col: #fcfcfc;
  --shadow-col: #7e80a238;
}

#container {
  position: absolute;
  height: calc(calc(100% - var(--root-padding) * 2));
  display: flex;
  width: var(--container-width);
  max-width: calc(calc(100% - var(--root-padding) * 2));
  animation: fade-in 1.5s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
}

.content {
  width: 30rem;
  margin: clamp(0px, 10vh, 5rem) auto;
}

/********** HOME **********/

#title-container {
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#title-fn {
  font-size: var(--title-font-size);
  margin: 0;
}

#title-ln {
  font-size: calc(var(--title-font-size) * 0.51);
  margin: 0;
}

#title-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  margin-bottom: 0.8rem;
}

#title-menu a {
  border-radius: 2rem;
  padding: 0.5rem;
  width: 8rem;
  text-align: center;
  user-select: none;
  transition: background-color, box-shadow 0.35s;
  cursor: pointer;
  opacity: 0;
}

#title-menu a:hover {
  box-shadow: 0.5rem 0.5rem 0.5rem var(--shadow-col);
  background-color: white;
}

#title-menu a:nth-child(1) {
  animation: menu-intro 1s forwards;
}

#title-menu a:nth-child(2) {
  animation: menu-intro 1s forwards;
  animation-delay: 0.15s;
}

#title-menu a:nth-child(3) {
  animation: menu-intro 1s forwards;
  animation-delay: 0.3s;
}

@keyframes menu-intro {
  0% {
    transform: translateX(3rem);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/********** NAV BOOKMARK **********/

#bookmark-wrapper {
  position: fixed;
  top: 0;
  display: flex;
  width: var(--container-width);
  max-width: calc(100% - calc(var(--root-padding) * 2));
  height: max-content;
  z-index: 2;
}

#bookmark {
  display: flex;
  position: relative;
  width: 50px;
  height: 100px;
  margin-top: -100px;
  margin-left: auto;
  background: url('/bookmark.svg');
  background-position: -25px;
  background-size: cover;
  border: transparent;
  cursor: pointer;
}

#bookmark::after {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  content: "M";
  color: var(--bg-col);
  align-self: center;
  margin: auto;
  margin-top: 30px;
}

#bookmark::before {
  content: "";
  width: 50px;
  position: absolute;
  left: 0;
  height: 500px;
  margin-top: -500px;
  background-color: var(--accent-col);
  transform-origin: top;
}

#bookmark-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 1rem;
  right: calc(50px + 1rem);
  margin-top: var(--root-padding);
  opacity: 0;
  pointer-events: none;
}

/********** GENERAL **********/

.accent-col {
  color: var(--accent-col);
}

.link {
  text-decoration: underline;
  color: var(--link-col);
}